#include "charmm36-feb2021.ff/forcefield.itp"

; additional params for the molecule
#include "charmm36-feb2021.ff/YYYY.prm"
#include "charmm36-feb2021.ff/pih.prm"
#include "charmm36-feb2021.ff/adp.prm"


#include "charmm36-feb2021.ff/YYYY.itp"
#include "charmm36-feb2021.ff/pih.itp"
#include "charmm36-feb2021.ff/adp.itp"

#include "charmm36-feb2021.ff/receptor.itp"
#include "charmm36-feb2021.ff/SOD.itp"
#include "charmm36-feb2021.ff/CLA.itp"
#include "charmm36-feb2021.ff/tip3p.itp"

#ifdef POSRES_WATER
; Position restraint for each water oxygen
[ position_restraints ]
;  i funct		 fcx		fcy		   fcz
   1	1		1000	   1000		  1000
#endif

; Include topology for ions
#include "charmm36-feb2021.ff/ions.itp"

[ system ]
; Name
mol

[ molecules ]
; Compound		  #mols
receptor                    1
ADP                    1
MG                      1
PIH                    1
YYYY			1                
